{% extends "body_less_layout.html" %}
{% block title %} Chapter 404: The Lost Page {% endblock %}
{% block body %}
<body>
	<style type="text/css">
	body {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		text-align: center
	}

	h1 {
		font-size: 4em
	}

	.oops {
		font-size: 2.5em;
		font-weight: bold
	}

	a {
		text-decoration: none
	}

	a:hover {
		text-decoration: underline
	}

	a:visited {
		color: blue
	}
	</style>
	<h1>Erreur 404</h1>
	<p><img alt="[image of a broken key]" src="{{ url_for('static', filename='images/broken-key.jpg') }}" width="260" height="180" />
	<p class="oops">OUPS !
	<p>Malgré toutes nos recherches, la page demandée n'a pu être trouvée !!! <span class="smiley-face">:(</span>
	<br>
	<br>
	<a href="{{ url_for('general.index') }}">» Retourner à la page d'acceuil</a>
</body>
{% endblock %}